FLASK_APP=unkubed:create_app
APP_ENV=development
FLASK_ENV=development
PORT=5173
SECRET_KEY=change-me
DATABASE_URL=postgresql+psycopg://unkubed:unkubed@localhost:5432/unkubed
KUBECONFIG=$HOME/.kube/config
HOST_HOME_PATH=$HOME
MINIKUBE_BRIDGE_IP=192.168.49.2
