{% extends "base.html" %}

{% block content %}
<h2>Deployments {% if selected_namespace %}({{ selected_namespace }}){% endif %}</h2>
<div class="code-block">{{ command }}</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Namespace</th>
      <th>Replicas</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    {% for dep in deployments %}
    <tr>
      <td>{{ dep.metadata.name }}</td>
      <td>{{ dep.metadata.namespace }}</td>
      <td>{{ dep.status.readyReplicas }}/{{ dep.spec.replicas }}</td>
      <td>
        {% for container in dep.spec.template.spec.containers %}
        <code>{{ container.image }}</code>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
